body{
    background-color: #44b2c8;
}

.container{
    display: inline-block;
    width: 800px;
    margin-top: 150px;
    margin-left: calc(50% - 400px);
}

.left-column{
    width: 40%;
    float: left;
    padding: 40px;
    padding-bottom: 20px;
    background-color: #3f52b2;
    background-image: url(../img/hill.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    box-sizing: border-box;
}

h1{ 
}

::placeholder {
    font-style: italic;
    color: red;
}

.bottom-texts > a{
    color: #fff;
}

.right-column{
    width: 60%;
    float: left;
    padding: 40px;
    box-sizing: border-box; /* pas ji sito nebuvo */
    background-color: #fff;
}

.close{

}




